ID_TYPE=Cédula de ciudadanía
ID_NUMBER=1234567890
BIRTHDATE=DD/MM/AAAA
EPS_CHAT_ID=57XXXXXXXXXX@c.us
USER_TO_ALERT_CHAT_ID=57XXXXXXXXXX@c.us
SUCCESS_ALERT_MESSAGE=Tu mensaje de alerta aquí
NOTHING_TO_RENEW_ALERT_MESSAGE=Tu mensaje cuando no hay medicamentos por renovar
TECH_ALERT_CHAT_ID=57XXXXXXXXXX@c.us
